$color_1: #919191;
$color_2: #ffa429;
$color_3: #C0BAB6;
$color_4: #FF9900;
$color_5: #666666;
$font_family_1: Georgia, "Times New Roman", Times, serif;
$font_family_2: Georgia,"Times New Roman",Times,serif;
$background_color_1: #232323;
$background_color_2: #ECECEC;
$background_color_3: #333333;
$background_color_4: #FFFFFF;

html {
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: $font_family_1;
	color: $color_1;
	background-color: $background_color_1;
}
.clear {
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		line-height: 0;
	}
	display: block;
	clear: both;
}
html[xmlns] {
	.clear {
		display: block;
	}
}
* {
	html {
		.clear {
			height: 1%;
		}
	}
}
a {
	outline: none;
	text-decoration: none;
}
code {
	font-weight: normal;
	font-style: normal;
	font-family: $font_family_1;
}
.fl_left {
	float: left;
}
.fl_right {
	float: right;
}
img {
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	vertical-align: middle;
}
.imgholder {
	padding: 4px;
	border: 1px solid #D6D6D6;
	text-align: center;
}
.imgl {
	padding: 4px;
	border: 1px solid #D6D6D6;
	text-align: center;
	float: left;
	margin: 0 15px 15px 0;
	clear: left;
}
.imgr {
	padding: 4px;
	border: 1px solid #D6D6D6;
	text-align: center;
	float: right;
	margin: 0 0 15px 15px;
	clear: right;
}
address {
	display: block;
	margin: 0;
	padding: 0;
	font-style: normal;
}
article {
	display: block;
	margin: 0;
	padding: 0;
}
aside {
	display: block;
	margin: 0;
	padding: 0;
}
figcaption {
	display: block;
	margin: 0;
	padding: 0;
}
figure {
	display: block;
	margin: 0;
	padding: 0;
}
footer {
	display: block;
	margin: 0;
	padding: 0;
}
header {
	display: block;
	margin: 0;
	padding: 0;
}
nav {
	display: block;
	margin: 0;
	padding: 0;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
section {
	display: block;
	margin: 0;
	padding: 0;
}
q {
	display: block;
	padding: 0 10px 8px 10px;
	color: $color_2;
	background-color: $background_color_2;
	font-style: italic;
	line-height: normal;
	display: block;
	padding: 8px 10px;
	color: $color_2;
	background-color: $background_color_2;
	font-style: italic;
	line-height: normal;
	&:before {
		content: '� ';
		font-size: 26px;
		content: '� ';
		font-size: 26px;
	}
	&:after {
		content: ' �';
		font-size: 26px;
		line-height: 0;
		content: ' �';
		font-size: 26px;
		line-height: 0;
	}
}
div.wrapper {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}
.row1 {
	color: $color_3;
	background-color: $background_color_3;
	a {
		color: $color_3;
		background-color: $background_color_3;
	}
}
.row2 {
	color: $color_2;
	min-height: 550px;
	background-color: $background_color_4;
	a {
		color: $color_4;
		background-color: $background_color_4;
	}
}
.row3 {
	color: $color_1;
	background-color: $background_color_1;
	a {
		color: $color_1;
		background-color: $background_color_1;
	}
}
#header {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	#hgroup {
		float: left;
		margin: 0 0 20px 0;
		h1 {
			font-weight: normal;
			text-transform: none;
			font-size: 36px;
		}
		h2 {
			font-weight: normal;
			text-transform: none;
			font-size: 13px;
		}
	}
	nav {
		display: block;
		float: right;
		margin: 10px 0 0 0;
		padding: 20px 0;
		color: $color_3;
		background-color: $background_color_1;
		ul {
			padding: 0 20px;
		}
		li {
			display: inline;
			margin-right: 25px;
			text-transform: uppercase;
			a {
				color: $color_3;
				background-color: $background_color_1;
				&:hover {
					color: $color_4;
					background-color: $background_color_1;
				}
			}
		}
		li.last {
			margin-right: 0;
		}
	}
}
#container {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 30px 0;
	section {
		display: block;
		width: 100%;
		margin: 0 0 30px 0;
		padding: 0;
	}
	.last {
		margin: 0;
	}
	.more {
		text-align: right;
	}
	#slider {
		margin-bottom: 50px;
	}
	#homepage {
		display: block;
		width: 100%;
		line-height: 1.6em;
		#services {
			padding: 0 0 30px 0;
			border-bottom: 1px solid #DEDEDE;
			figure {
				display: inline;
				float: left;
			}
			strong {
				float: left;
				margin: 8px 0 0 10px;
				padding: 0;
				font-size: 14px;
				font-weight: bold;
				text-transform: uppercase;
			}
			p {
				display: block;
				margin: 0;
				padding: 5px 0 0 0;
				clear: both;
				line-height: 1.6em;
			}
		}
		#latest {
			padding: 0 0 30px 0;
			border-bottom: 1px solid #DEDEDE;
			article {
				figure {
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							img {
								padding: 4px;
								border: 1px solid #D6D6D6;
							}
						}
					}
					figcaption {
						display: block;
						width: 100%;
						margin-top: 20px;
						text-align: right;
					}
				}
			}
		}
	}
	#content {
		float: left;
		width: 630px;
		line-height: 1.6em;
		#posts {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					display: block;
					width: 100%;
					margin-bottom: 30px;
					article {
						figure {
							img {
								float: left;
								width: 180px;
								height: 150px;
								margin: 0;
								padding: 4px;
								border: 1px solid #D6D6D6;
							}
							figcaption {
								display: block;
								float: right;
								width: 410px;
							}
							h2 {
								font-size: 14px;
							}
						}
					}
				}
				li.last {
					margin-bottom: 0;
				}
			}
		}
	}
	#right_column {
		float: right;
		width: 280px;
		h2.title {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #DEDEDE;
		}
		nav {
			display: block;
			width: 100%;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li {
				margin: 0 0 3px 0;
				padding: 0;
			}
			li.last {
				margin-bottom: 0;
			}
			a {
				display: block;
				margin: 0;
				padding: 5px 10px 5px 20px;
				color: $color_5;
				background: #FFFFFF;
				text-decoration: none;
				border-bottom: 1px dotted #666666;
				&:hover {
					color: $color_4;
					background-color: $background_color_4;
				}
			}
		}
	}
}
#footer {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 20px 0;
	p {
		margin: 0;
		padding: 0;
	}
}
h1 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
h5 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
h6 {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}
blockquote {
	display: block;
	padding: 8px 10px;
	color: $color_2;
	background-color: $background_color_2;
	font-style: italic;
	line-height: normal;
	&:before {
		content: '� ';
		font-size: 26px;
	}
	&:after {
		content: ' �';
		font-size: 26px;
		line-height: 0;
	}
}
form {
	margin: 0;
	padding: 0;
	border: none;
}
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
legend {
	margin: 0;
	padding: 0;
	border: none;
	display: none;
}
input {
	font-size: 12px;
	font-family: $font_family_2;
}
textarea {
	font-size: 12px;
	font-family: $font_family_2;
}
select {
	font-size: 12px;
	font-family: $font_family_2;
}
.one_quarter {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 225px;
}
.two_quarter {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 470px;
}
.three_quarter {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 715px;
}
.four_quarter {
	display: block;
	float: left;
	margin: 0 20px 0 0;
	width: 960px;
	float: none;
	margin-right: 0;
	clear: both;
}
.one_third {
	display: block;
	float: left;
	margin: 0 30px 0 0;
	width: 300px;
}
.two_third {
	display: block;
	float: left;
	margin: 0 30px 0 0;
	width: 630px;
}
.three_third {
	display: block;
	float: left;
	margin: 0 30px 0 0;
	width: 960px;
	float: none;
	margin-right: 0;
	clear: both;
}
.lastbox {
	margin-right: 0;
}
$color_1: grey;
$color_2: white;
$color_3: black;
$font_family_1: arial;
$background_color_1: #000;

$color_1: grey;
$color_2: white;
$font_family_1: arial;
$background_color_1: #000;

.card {
	position: relative;
	z-index: 3;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 280px;
	margin: auto;
	text-align: center;
	font-family: $font_family_1;
	box-sizing: border-box;
	float: left;
	min-height: 550px;
	margin-right: 20px;
	margin-bottom: 50px;
	background-color: white;
	a {
		border: none;
		outline: 0;
		display: inline-block;
		padding: 8px;
		color: $color_2;
		background-color: $background_color_1;
		text-align: center;
		cursor: pointer;
		width: 70%;
		font-size: 18px;
		text-decoration: none;
		text-transform: capitalize;
	}
}
.container {
	padding: 0 16px;
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}
.title {
	color: $color_1;
	font-size: 18px;
}
a {
	&:hover {
		opacity: 0.7;
	}
}

input[type=text] {
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	margin: 20px 0;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 60%;
	outline: none !important;
    border:3px solid #ffa429;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#maincon{
	width: 95%;
	margin-left: auto;
}

.loader {
  border: 16px solid $color_2;
  border-radius: 50%;
  border-top: 16px solid #ffa429;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loader2 {
  border: 16px solid $color_2;
  border-radius: 50%;
  border-top: 16px solid #ffa429;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: relative;
  top: -1000px;
   left: 200px;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}

#scraped{
background-color: white;

}

#fnews {
font-size: 30px;
}
#share {
	display: inline-block;
}